@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

html {
  /* 62.5% x 16px = 10px */
  font-size: 62.5%;
}
/*Kuvat responsiiviseksi*/
figure img {
  max-width: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 1rem;
  padding: 2rem;
}
header {
  background-color: #69013b;
  color: #fbdfd1;
  font-weight: bold;
  padding: 2rem;
  border-radius: 1rem 1rem 0 0;
}
header h1 {
  font-size: 2.4rem;
}
header h2 {
  font-size: 1.8rem;
}
header h3 {
  font-size: 1.6rem;
}
footer {
  background-color: #69013b;
  padding: 2rem;
  border-radius: 0 0 1rem 1rem;
}

h1 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
a {
  text-decoration: none;
  color: #333333;
  font-style: italic;
  
}
a:hover {
  text-decoration: underline;
  background-color: lightgray;
}

ol li {
  font-weight: bold;
}

li a {
  font-weight: bold;
}
.sisennys-2rem {
  text-indent: 2rem;
}
.sisennys-4rem {
  text-indent: 4rem;
}
/* Koulun logokuva oikean koko*/
#logo {
    width: 8rem;
  
  float: right;
}
.footer-p {
  color: #fbdfd1;
}
.footer-p a {
  color: #FBDFD1;
}
.ops {
  padding: 10px;
  border: solid #69013b 1px;
  border-top: 0;
  border-bottom: 0;
}
.ops ol {
  list-style: decimal;
  padding-left: 4rem;
  font-size: 1.4rem;
}
.ops ol li {
  padding-bottom: 1rem;
}

@media only screen and (min-width: 600px) {
    #logo {
      width: 10rem;
    }
  }
